<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<!-- <script src="https://www.paypal.com/sdk/js?client-id=AfMkMC17dtNGP8f03sGbFGI42DNd2CFzgh5Qhw6ceIBpbpenaTcogaI2H7mhcjcS1AN87Fc-SmUFrXF_"></script> -->
	</head>
	<body>
		<!-- <div id="paypal-button-container"></div> -->
		<form action="<%=`/order/${store}/paypal-test` %>" method="POST">
			<input type="submit" value="Test Paypal">
		</form>
		<!-- <script>
			paypal.Buttons().render('#paypal-button-container');
		</script> -->
	</body>
</html>
