<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>storystore Contact Form</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<style>
			.main-container {
				width: 600px;
			}
		</style>
	</head>
	<body>
		<div class="main-container">
			<h2>Contact Details</h2>
			<ul>
				<li>Full Name: <%=name%></li>
				<li>Company: <%=company%></li>
				<li>Email: <%=email%></li>
				<li>Phone: <%=phone%></li>
			</ul>
		</div>
	</body>
</html>
