<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Demystifying Email Design</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <style>
			.main-container {
				width: 600px;
			}
			.wrapper-container {
				width: 500px;
			}
			.fixed-width {
				width: 450px;
			}
			.small-table {
				width: 258px;
			}
		</style>
    </head>
    <body>
        <table height="40"></table>
        <table
			align="center"
			bgcolor="#EFEFEF"
			dir="rtl"
			cellpadding="0"
			cellspacing="0"
			class="main-container" width="500"
			style="text-align: right; border-radius: 40px; direction: rtl;"
		>
            <tr>
                <td>
                    <table align="center" cellspacing="0" cellpadding="0" class="wrapper-container">
                        <tr height="50"></tr>
                        <tr>
                            <td>
                                <img
									src="https://assets.storystore.co.il/kookint/logo_kookint_dark.png"
									alt="kookint"
									width="90"
									height="80"
									style="display: block;"
								/>
                            </td>
                        </tr>
                        <tr height="20"></tr>
                        <tr>
                            <td>
                                <table class="fixed-width">
                                    <tr height="22">
                                        <td>Test: John Test: Smith שלום,</td>
                                    </tr>
                                    <tr height="22">
                                        <td>
											הזמנתך מ-Kookint התקבלה בהצלחה, אנו מודים לך על הרכישה.
										</td>
                                    </tr>
                                    <tr height="5"></tr>
                                    <tr height="1" bgcolor="#535353" style="display: block;"></tr>
                                    <tr height="7"></tr>
                                    <tr>
                                        <td>
                                            <table class="fixed-width">
                                                <tr style="font-weight: bold">
                                                    <td width="50%">לאן...</td>
                                                    <td width="50%">מתי...</td>
                                                </tr>
                                                <tr height="2"></tr>
                                                <tr>
                                                    <td>
														Test: John Test: Smith
													</td>
                                                    <td>
														שליח עד הבית
													</td>
                                                </tr>
                                                <tr height="2"></tr>
                                                <tr>
                                                    <td>
														Test: Alenby 6 7 16
													</td>
                                                    <td>
														עד 3 ימי עסקים מיום ההזמנה
													</td>
                                                </tr>
                                                <tr height="2"></tr>
                                                <tr>
                                                    <td>
															Test: Tel Aviv, 90210
													</td>
                                                </tr>
                                                <tr height="2"></tr>
                                                <tr>
                                                    <td>
														111-222-333
													</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr height="5"></tr>
                                    <tr height="1" bgcolor="#535353" style="display: block;"></tr>
                                    <tr height="7"></tr>
                                    <tr style="font-weight: bold">
                                        <td>
											ההזמנה:
										</td>
                                    </tr>
                                    <tr height="2"></tr>
                                    <tr>
                                        <td>
											מספר ההזמנה: 4672579
										</td>
                                    </tr>
                                    <tr height="2"></tr>
                                    <tr>
                                        <td>
											תאריך ההזמנה: 19/02/2019
										</td>
                                    </tr>
                                    <tr height="10"></tr>
                                    <tr>
                                        <td>
                                            <table class="fixed-width">
                                                <tr style="font-weight: bold;">
                                                    <td>תיאור הפריט</td>
                                                    <td dir="ltr" style="text-align: left; direction: ltr;">₪</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr class="fixed-width">
                                        <td style="border-bottom: 1px dotted #535353;"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <table class="fixed-width">
                                                <tr>
                                                    <td>
															חולצת קוקאינט צוללן נשים/גברים / XL - שחור
															
                                                        <p>כמות: 1</p>
                                                    </td>
                                                    <td dir="ltr" style="text-align: left; direction: ltr;">₪180.0000</td>
                                                </tr>
                                                <!-- <tr height="2"></tr><tr><td>כמות: 1</td></tr> -->
											
                                            </table>
                                        </td>
                                    </tr>
                                    <tr class="fixed-width">
                                        <td style="border-bottom: 1px dotted #535353;"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <table class="small-table" align="left">
                                                <!-- <tr><td>סה"כ ביניים</td><td dir="ltr" style="text-align: left; direction: ltr;">180₪</td></tr><tr height="2"></tr><tr><td>משלוח</td><td dir="ltr" style="text-align: left; direction: ltr;">₪0</td></tr><tr height="2"></tr> -->
                                        <tr>
                                            <td>סה"כ</td>
                                            <td dir="ltr" style="text-align: left; direction: ltr;">₪180</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr height="1" bgcolor="#535353" style="display: block;"></tr>
                        </table>
                    </td>
                </tr>
                <tr height="40"></tr>
                <tr>
                    <td>תודה והמשך יום נעים,</td>
                </tr>
                <tr height="3"></tr>
                <tr>
                    <td>צוות Kookint</td>
                </tr>
                <tr height="3"></tr>
                <tr>
                    <td>Kookint tagline</td>
                </tr>
                <tr height="3"></tr>
                <tr>
                    <td>aaa@aaa.com</td>
                </tr>
                <tr height="3"></tr>
                <tr>
                    <td>13123</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr height="40"></tr>
</table>
</body>
</html>